*
{
    background-color: white;
}
body
{
    margin: 0;
}
img
{
    width: 90%;
    padding: 15px;
}
section
{
    display: grid;
}
footer
{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 15px;
    padding: 10px;
}
/* Text*/
text
{
    font-size: 20px;
    text-align: start;
}
#txt
{
    margin-left: 15px;
    margin-right: 15px;
}
/*logo*/
#logologo
{
    text-align: center;
    margin: 0 auto;
}
#logo
{
    width: 6%;
    text-align: start;
    padding: 1px;
}
/* Animation*/
section .image:hover img
{
    transform: scale(1) rotate(2deg);
}
/*Media Queries*/
@media screen and (max-width: 480px)
{
    section
    {
        display: block;
    }
}
@media screen and (min-width: 480px) and (max-width:800px)
{
    section
    {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 802px)
{
    section
    {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1024px)
{
    #logologo
    {
        max-width: 1024px;
    }
}
